@charset "UFT-8";

/* fonte dest*/
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=Playwrite+CO:wght@100..400&family=Ubuntu&display=swap');

/* fonte 2*/
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+CO:wght@100..400&family=Ubuntu&display=swap');

:root {
    --cor01: #6f7302;
    --cor02: #ecf230f8;
    --cor03: #F2E63D;
    --cor04: #594302;
    --cor05: #0D0D0D;


    --fonte01: verdana, Geneva, Tahoma, sans-serif;
    --fonte02: "Playwrite CO", cursive;
    --fonte03: "Montserrat", sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 1.1em;
}
html, body {
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte03);
}
header {
    background-image: linear-gradient(to top,var(--cor01),var(--cor02),var(--cor02),var(--cor01));
    color: var(--cor05);
   
    text-align: center;
    margin: 0px;
    padding: 30px;
   
}
header > h1 {
    background-image: url('../img/planta.jpg');

    color: var(--cor03);
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-variant: cursive;
    font-family: var(--fonte02);
    font-size: 4vw;
    
}
nav{
    background-color: var(--cor01);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.404);
}
nav > a {
   
    color: var(--cor05);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .6s;

}
nav > a:hover {
   
    background-color: var(--cor04);
    color: white;

}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-weight: var(--fonte01);
    font-size: 2vw;
}

section.normal{
    background-color: var(--cor04);
    font-family: var(--fonte01);
    text-align: center;
    line-height: 1em;
    font-size: 2em;
    
    
}
section.img > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.486);
    text-shadow: 2px 1px 0px rgba(255, 255, 255, 0.082);
}
section.img {
    background-color: #e0d74c9f;
    color: #0D0D0D;
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;



}
section#img01 {
    background-image: url('../img/corte.jpg');
}
section#img02 {
    background-image: url('../img/cabelo01.jpg');
    background-position: left center;
}

section#img02 > p {
    
    background-color: #f2e63d2f;
    color: #F2E63D;
    font-family: var(--fonte01);
    font-weight: normal;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.486);
    font-size: 7vh;
    min-height:  100px;
    padding-top: 40px;
}
   
